
/* Color scheme. Based on navy blue, contrast for primary buttons and such, alternative for secondary */

$clr-main-darkest: #001935;
$clr-main-dark: #2B4865;
$clr-main: #256D85;
$clr-main-lighter: #00d3d7;
$clr-main-lightest: #8FE3CF;

$clr-contrast: #c46e94;

$clr-alternative: #E1CEB5;
$clr-alternative-lighter: #FFE7CC;

$clr-grey: grey;