@import "_variables";

:host {
    padding: 1em;

    position: relative;
}
.to-home{
    position: fixed;
    display: flex;
    justify-items: right;
    background-color: wheat;
    align-items: center;
    width: 4.3em;
    padding: 0.5em;
    right: 0;
    margin-left: auto;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 2px 2px 5px grey;
    button{
        text-align: center;
    }
}

h1{
    margin-block: 0.5em;
}

table{
    width: 100%;
    min-width: 40em;
}

.table-wrapper {
    overflow-x: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

button{
    right: 0;
    margin-left: auto;
    text-align: right;
}

.mat-column-id{
    width: 10em;
}

.mat-column-cross{
    width: 3em;
    text-align: center;
    button{
        color: black;
        text-align: center;

    }
}

.totals{
    align-self: center;
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 0.5em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.503);
    max-width: 300px;
    right: 0;
    margin-left: auto;
    h2,h3{
        margin: 0;
    }
}

@media (min-width: 769px) {
    :host{
        padding-inline: 5em;
    }

    .to-home{
        right: 0;
    }
}