<mat-toolbar color="primary">
  <h3 (click)="goToMain()">Week Ninth's Challenge</h3>
  <div class="user" *ngIf="userData">
    <div class="shopping-cart">
      <button mat-icon-button (click)="goToCart()"><mat-icon>shopping_cart</mat-icon></button>
      <p class="items-number">{{itemsAmount}}</p>
    </div>
    <button class="user-button" mat-icon-button (click)="toggleUserInfo()">
      {{ userData.name[0] | titlecase }}
    </button>
    <mat-card *ngIf="userInfoOpened" @topRightScale>
      <p class="cross" (click)="toggleUserInfo()">X</p>
      <h2>{{ userData.name }}</h2>
      <p>{{ userData.email }}</p>
      <button mat-raised-button (click)="logOut()">Log Out</button>
    </mat-card>
  </div>
  <button mat-raised-button *ngIf="!userData" (click)="goToLogin()">
    Sign in
  </button>
</mat-toolbar>
