:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
}


@media (min-width:469px) {
    :host{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}