<div>
    <p>Ninth Challenge Applaudo Studios Trainee Program</p>
    <p>Developed By Julian Marc</p>
</div>
<a href="https://applaudostudios.com" target="_blank"
><img src="assets/imgs/applaudo.png" alt="Applaudo Image"
/></a>
<a href="https://github.com/R4vage" target="_blank">
<img src="assets/imgs/gitHub.png" class="github-icon" alt="Github Image"
/></a>
<a href="https://www.linkedin.com/in/julianmarc" target="_blank"
><img src="assets/imgs/linkedIn.png" class="linkedIn-icon" alt="LinkedIn Image"
/></a>
      
