:host{
    align-self: center;
    width: 80%;
    padding-inline: 0.5em;
    background-color: white;
    border-radius: 6px;
    max-width: 50em;
}

mat-icon{
    cursor: pointer;
    margin-bottom: -5px;
}

mat-form-field{
    width: 100%;
    padding-top: 0.2em;
    
    
    input{
        width: 100%;
    }
}

@media (min-width:769px) {
    :host{
        width: 50%;
    }
}