:host{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    min-height: 100vh;
}

.left-image{
    display: hidden;
    width: 100%;
    height: 100%;
    background-image: url("/assets/imgs/e-commerce.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width:769px) {
    :host{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: 100vh;
    }
}

@media (min-width:1024px) {
    :host{
        grid-template-columns: 2fr 3fr;
    }
}